@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 253, 247;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--background-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}

body.allow-scroll {
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(var(--background-rgb));
}
